In [22]:
import pandas as pd

df = pd.read_csv("Datasets/startup.csv")
df

,name,category_list,funding_total_usd,status,country_code,state_code,city,funding_rounds,Investors,Number_of_Investors,Acquirer,Acquirer_Category,Acquirer_Country,Acquirer_State,Acquirer_City,Acquired_Price,Acquired Currency,county,founded_at,Coordinates
0,H2O.ai,Software,33.600000,operating,USA,CA,Mountain View,4.0,Capital One:20000000|Nexus Venture Partners:33...,11.0,-,-,-,-,-,-,-,Santa Clara,2011,37.399364:-122.079517
1,One Inc.,Mobile,1.150050,operating,USA,CA,San Francisco,3.0,Camp One Ventures:150000|CRV:1000050|General C...,12.0,-,-,-,-,-,-,-,San Francisco,2011,37.727239:-123.032229
2,1000 Corks,Software,0.040000,operating,USA,OR,Lake Oswego,1.0,Start-Up Chile:40000,1.0,-,-,-,-,-,-,-,Clackamas,2008,45.412305:-122.699154
3,1000museums.com,Software,6.795451,operating,USA,MA,Lenox,9.0,Alliance of Angels:1289879.0|Converge Venture ...,7.0,-,-,-,-,-,-,-,Berkshire,2008,42.361228:-73.286788
4,Redox,Health,4.000000,operating,USA,WI,Madison,2.0,.406 Ventures:3530000|DreamIt Ventures:470000|...,6.0,-,-,-,-,-,-,-,Dane,2014,43.087806:-89.430121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.118022:-77.232401
13728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.952306:-91.162325
13729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.664274:-73.9385
13730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.664274:-73.9385
13731,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.727239:-123.032229

In [23]:
df = df.dropna()

In [24]:
df

,name,category_list,funding_total_usd,status,country_code,state_code,city,funding_rounds,Investors,Number_of_Investors,Acquirer,Acquirer_Category,Acquirer_Country,Acquirer_State,Acquirer_City,Acquired_Price,Acquired Currency,county,founded_at,Coordinates
0,H2O.ai,Software,33.600000,operating,USA,CA,Mountain View,4.0,Capital One:20000000|Nexus Venture Partners:33...,11.0,-,-,-,-,-,-,-,Santa Clara,2011,37.399364:-122.079517
1,One Inc.,Mobile,1.150050,operating,USA,CA,San Francisco,3.0,Camp One Ventures:150000|CRV:1000050|General C...,12.0,-,-,-,-,-,-,-,San Francisco,2011,37.727239:-123.032229
2,1000 Corks,Software,0.040000,operating,USA,OR,Lake Oswego,1.0,Start-Up Chile:40000,1.0,-,-,-,-,-,-,-,Clackamas,2008,45.412305:-122.699154
3,1000museums.com,Software,6.795451,operating,USA,MA,Lenox,9.0,Alliance of Angels:1289879.0|Converge Venture ...,7.0,-,-,-,-,-,-,-,Berkshire,2008,42.361228:-73.286788
4,Redox,Health,4.000000,operating,USA,WI,Madison,2.0,.406 Ventures:3530000|DreamIt Ventures:470000|...,6.0,-,-,-,-,-,-,-,Dane,2014,43.087806:-89.430121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13708,Zyngenia,Technology,25.000000,operating,USA,MD,Gaithersburg,1.0,New Enterprise Associates:25000000,1.0,-,-,-,-,-,-,-,Montgomery,2008,40.664274:-73.9385
13709,ZYOMYX,Technology,34.275015,operating,USA,MO,Fremont,4.0,Bill & Melinda Gates Foundation:12000000|Mylan...,3.0,-,-,-,-,-,-,-,Carter,1998,36.227712:-115.264045
13710,Zype,Software,3.300000,operating,USA,NY,New York,2.0,Entrepreneurs Investment Fund:1600000|Revel Pa...,10.0,-,-,-,-,-,-,-,New York,2013,37.727239:-123.032229
13711,Whisk (formerly Zypsee),Sports,2.150000,operating,USA,NY,New York,2.0,ff Venture Capital:2150000,1.0,-,-,-,-,-,-,-,New York,2011,47.620499:-122.350876
13712,Ôasys,Hardware,0.018192,operating,USA,CA,San Francisco,1.0,Startupbootcamp:18192,1.0,-,-,-,-,-,-,-,San Francisco,2014,34.019394:-118.410825

In [25]:
df.head(10)

,name,category_list,funding_total_usd,status,country_code,state_code,city,funding_rounds,Investors,Number_of_Investors,Acquirer,Acquirer_Category,Acquirer_Country,Acquirer_State,Acquirer_City,Acquired_Price,Acquired Currency,county,founded_at,Coordinates
0,H2O.ai,Software,33.600000,operating,USA,CA,Mountain View,4.0,Capital One:20000000|Nexus Venture Partners:33...,11.0,-,-,-,-,-,-,-,Santa Clara,2011,37.399364:-122.079517
1,One Inc.,Mobile,1.150050,operating,USA,CA,San Francisco,3.0,Camp One Ventures:150000|CRV:1000050|General C...,12.0,-,-,-,-,-,-,-,San Francisco,2011,37.727239:-123.032229
2,1000 Corks,Software,0.040000,operating,USA,OR,Lake Oswego,1.0,Start-Up Chile:40000,1.0,-,-,-,-,-,-,-,Clackamas,2008,45.412305:-122.699154
3,1000museums.com,Software,6.795451,operating,USA,MA,Lenox,9.0,Alliance of Angels:1289879.0|Converge Venture ...,7.0,-,-,-,-,-,-,-,Berkshire,2008,42.361228:-73.286788
4,Redox,Health,4.000000,operating,USA,WI,Madison,2.0,.406 Ventures:3530000|DreamIt Ventures:470000|...,6.0,-,-,-,-,-,-,-,Dane,2014,43.087806:-89.430121
5,1010data,Software,35.000000,acquired,USA,NY,New York,1.0,Norwest Venture Partners - NVP:35000000,1.0,Advance Publications,Media,USA,NY,Staten Island,500000000,USD,New York,2000,40.664274:-73.9385
6,10sec,Finance,1.600000,operating,USA,CA,San Francisco,2.0,CyberAgent Ventures:1600000,1.0,-,-,-,-,-,-,-,San Francisco,2013,37.727239:-123.032229
7,10X Genomics,Technology,55.000000,operating,USA,CA,Pleasanton,1.0,Foresite Capital:55000000|Paladin Capital Grou...,3.0,-,-,-,-,-,-,-,Alameda,2012,37.666151:-121.87828
8,12 Labs,Health,0.935000,operating,USA,CA,Palo Alto,1.0,Serra Ventures:935000|David Opolon:935000|Evan...,5.0,-,-,-,-,-,-,-,Santa Clara,2014,37.399782:-122.142776
9,121nexus,Health,0.794000,operating,USA,RI,Providence,6.0,"American Pioneer Ventures, Ltd:55000|Betasprin...",6.0,-,-,-,-,-,-,-,Providence,2011,41.823056:-71.418779

In [26]:
df.tail(10)

,name,category_list,funding_total_usd,status,country_code,state_code,city,funding_rounds,Investors,Number_of_Investors,Acquirer,Acquirer_Category,Acquirer_Country,Acquirer_State,Acquirer_City,Acquired_Price,Acquired Currency,county,founded_at,Coordinates
13703,"ZVerse, Inc.",Software,5.000000,operating,USA,MD,Columbia,2.0,Capital A Partners:3500000|Mosley Ventures:350...,2.0,-,-,-,-,-,-,-,Howard,2013,37.495519:-122.26681
13704,Zyga Technology,Health,75.750000,operating,USA,MN,Minnetonka,8.0,Bridge Bank:15000000|Domain Associates:2700000...,7.0,-,-,-,-,-,-,-,Hennepin,2008,-1
13705,Zymergen,Technology,44.000000,operating,USA,CA,Emeryville,2.0,5 Prime Ventures:44000000|AME Cloud Ventures:4...,9.0,-,-,-,-,-,-,-,Alameda,2013,41.478138:-81.679486
13706,Zymetis,Technology,2.257464,closed,USA,MD,College Park,3.0,Maryland Department of Business and Economic D...,1.0,-,-,-,-,-,-,-,Prince Georges,2006,37.399782:-122.142776
13707,Zynga,Software,866.550786,ipo,USA,CA,San Francisco,9.0,Andreessen Horowitz:15187000|Avalon Ventures:4...,22.0,-,-,-,-,-,-,-,San Francisco,2007,37.727239:-123.032229
13708,Zyngenia,Technology,25.000000,operating,USA,MD,Gaithersburg,1.0,New Enterprise Associates:25000000,1.0,-,-,-,-,-,-,-,Montgomery,2008,40.664274:-73.9385
13709,ZYOMYX,Technology,34.275015,operating,USA,MO,Fremont,4.0,Bill & Melinda Gates Foundation:12000000|Mylan...,3.0,-,-,-,-,-,-,-,Carter,1998,36.227712:-115.264045
13710,Zype,Software,3.300000,operating,USA,NY,New York,2.0,Entrepreneurs Investment Fund:1600000|Revel Pa...,10.0,-,-,-,-,-,-,-,New York,2013,37.727239:-123.032229
13711,Whisk (formerly Zypsee),Sports,2.150000,operating,USA,NY,New York,2.0,ff Venture Capital:2150000,1.0,-,-,-,-,-,-,-,New York,2011,47.620499:-122.350876
13712,Ôasys,Hardware,0.018192,operating,USA,CA,San Francisco,1.0,Startupbootcamp:18192,1.0,-,-,-,-,-,-,-,San Francisco,2014,34.019394:-118.410825

In [47]:
import matplotlib.pyplot as plt

#what cities had the most funding on average?
list(df.groupby("city")["funding_total_usd"].mean().sort_values())
#df[df["city"] == "The Woodlands"]
#df.groupby("city")["funding_total_usd"].mean().sort_values().plot()

[0.01,
 0.01,
 0.011000000000000001,
 0.015,
 0.015,
 0.015,
 0.017,
 0.02,
 0.02,
 0.02,
 0.02,
 0.02,
 0.02,
 0.025,
 0.025,
 0.025,
 0.025,
 0.025,
 0.025,
 0.03,
 0.03,
 0.033333,
 0.035,
 0.04,
 0.04,
 0.04,
 0.045,
 0.0479,
 0.05,
 0.05,
 0.05,
 0.05,
 0.05,
 0.05,
 0.05,
 0.057,
 0.06,
 0.065,
 0.07,
 0.07,
 0.075,
 0.082353,
 0.08833333333333333,
 0.09,
 0.09,
 0.09175050000000001,
 0.09749999999999999,
 0.1,
 0.1,
 0.1,
 0.1,
 0.105,
 0.11800000000000001,
 0.11800000000000001,
 0.119,
 0.125,
 0.125,
 0.13,
 0.14,
 0.15,
 0.15,
 0.15,
 0.150768,
 0.1535,
 0.1584675,
 0.17,
 0.17,
 0.18261,
 0.185,
 0.2,
 0.2,
 0.2,
 0.212,
 0.21500000000000002,
 0.22,
 0.225,
 0.2275,
 0.23,
 0.24743600000000002,
 0.25,
 0.25,
 0.25,
 0.25,
 0.25,
 0.25,
 0.25,
 0.25,
 0.25,
 0.25,
 0.25,
 0.252486,
 0.2625,
 0.27,
 0.275,
 0.275,
 0.282355,
 0.3,
 0.3,
 0.3,
 0.3,
 0.3125,
 0.325,
 0.335,
 0.35,
 0.35,
 0.355727,
 0.38,
 0.385,
 0.4,
 0.4,
 0.4025,
 0.41,
 0.41586999999999996,
 0.425,
 0.45,
 0.45,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5194610000000001,
 0.52,
 0.54,
 0.55,
 0.55,
 0.55,
 0.5750000000000001,
 0.6,
 0.6,
 0.605,
 0.6175,
 0.65,
 0.65,
 0.65,
 0.652594,
 0.6566666666666667,
 0.6599999999999999,
 0.662,
 0.673,
 0.68,
 0.694281,
 0.7,
 0.705,
 0.75,
 0.75,
 0.75,
 0.75,
 0.75,
 0.755,
 0.7875,
 0.8,
 0.8,
 0.8105,
 0.8125,
 0.8381999999999998,
 0.854,
 0.875,
 0.875,
 0.88,
 0.93,
 0.975,
 0.985,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.02,
 1.025,
 1.02888,
 1.05,
 1.05,
 1.0550000000000002,
 1.0775,
 1.13,
 1.135,
 1.1452499999999999,
 1.1710906666666665,
 1.18,
 1.2,
 1.2,
 1.2,
 1.2,
 1.2,
 1.2,
 1.2003780000000002,
 1.21,
 1.2209495000000001,
 1.2304,
 1.238277,
 1.25,
 1.3,
 1.3,
 1.3,
 1.35,
 1.358459,
 1.375,
 1.375,
 1.384396,
 1.4,
 1.4,
 1.4,
 1.45,
 1.45,
 1.495,
 1.5,
 1.5,
 1.5,
 1.5,
 1.5,
 1.5,
 1.5,
 1.5375,
 1.6045969999999998,
 1.61,
 1.6106626,
 1.635523,
 1.65,
 1.694399,
 1.7,
 1.7275,
 1.75,
 1.75,
 1.839832333333333,
 1.850015,
 1.8666666666666665,
 1.883337,
 1.9,
 1.95,
 1.9608258333333335,
 1.975,
 1.989571,
 2.0,
 2.0040167142857146,
 2.0313715,
 2.045,
 2.0469999999999997,
 2.1,
 2.1,
 2.12175,
 2.25,
 2.25,
 2.2625,
 2.3,
 2.3,
 2.3,
 2.32707568625,
 2.334978,
 2.3371822499999997,
 2.35,
 2.35,
 2.374979,
 2.4,
 2.4,
 2.403002,
 2.45,
 2.45,
 2.5,
 2.5,
 2.5,
 2.5,
 2.5,
 2.5275,
 2.5583329999999997,
 2.565,
 2.5726,
 2.601416,
 2.63,
 2.646350142857142,
 2.7,
 2.75,
 2.776316,
 2.8383333333333334,
 2.857824,
 2.85925,
 2.8846495,
 2.900369,
 2.9022,
 2.9365870000000003,
 2.95,
 2.9593333333333334,
 2.9706588333333332,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0388767,
 3.1,
 3.103358,
 3.12,
 3.1462885,
 3.15,
 3.219352,
 3.248067,
 3.3,
 3.3120000000000003,
 3.387542,
 3.4,
 3.4333333333333336,
 3.4783188571428565,
 3.5,
 3.5,
 3.500666666666666,
 3.5172169999999996,
 3.565,
 3.6,
 3.653333333333333,
 3.7197035,
 3.75,
 3.770206,
 3.8,
 3.816,
 3.875,
 3.8945809999999996,
 3.9299999999999997,
 3.9319475,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.082454,
 4.0999989999999995,
 4.0999989999999995,
 4.140810666666667,
 4.2,
 4.205,
 4.225,
 4.2271295,
 4.352565370370369,
 4.4,
 4.4,
 4.406677500000001,
 4.4758835,
 4.5,
 4.5,
 4.5,
 4.566666666666666,
 4.568114,
 4.591288,
 4.65,
 4.651314,
 4.656666666666666,
 4.692,
 4.7,
 4.705893,
 4.766249999999999,
 4.768700666666667,
 4.7700000000000005,
 4.902684406779662,
 4.904753210526316,
 4.999929,
 5.0,
 5.0,
 5.0,
 5.05,
 5.158234272727274,
 5.1610000000000005,
 5.2,
 5.204967,
 5.25,
 5.25,
 5.25,
 5.281555714285714,
 5.284292222222221,
 5.312590444444445,
 5.3228333333333335,
 5.45,
 5.4873435,
 5.4980855,
 5.5,
 5.5,
 5.5,
 5.5375,
 5.6,
 5.7,
 5.7037395,
 5.796518,
 5.8,
 5.8839999999999995,
 5.9,
 5.908333333333334,
 5.947500000000001,
 5.998578571428571,
 6.0,
 6.0,
 6.0,
 6.071861,
 6.116666666666667,
 6.1263,
 6.159223,
 6.2,
 6.224284222222224,
 6.239666666666666,
 6.2625,
 6.305000000000001,
 6.403922857142859,
 6.4110000000000005,
 6.46,
 6.5,
 6.55,
 6.55,
 6.605,
 6.65,
 6.6959139285714295,
 6.7,
 6.738333333333332,
 6.795451,
 6.9,
 6.9629,
 6.99,
 7.0,
 7.0,
 7.0,
 7.09,
 7.100001000000001,
 7.169183599999999,
 7.202953571428572,
 7.214255232558143,
 7.2389135,
 7.357874999999999,
 7.382000000000001,
 7.40573,
 7.429303999999999,
 7.455316,
 7.5,
 7.5,
 7.516103,
 7.519,
 7.535473,
 7.552438,
 7.6,
 7.681053333333334,
 7.73361903,
 7.8,
 7.843,
 7.8851998,
 7.898455875,
 7.950283333333334,
 7.954341666666667,
 7.959983333333333,
 8.0,
 8.0,
 8.0,
 8.0,
 8.060437333333333,
 8.085833333333333,
 8.104836,
 8.15365242105263,
 8.2,
 8.22,
 8.25,
 8.32597155,
 8.375,
 8.383206166666668,
 8.4192,
 8.43003,
 8.4629142,
 8.5,
 8.5,
 8.5,
 8.575976922077919,
 8.6025,
 8.632142857142858,
 8.7,
 8.75,
 8.752666666666668,
 8.952827207547172,
 9.0,
 9.0,
 9.0,
 9.0,
 9.029507,
 9.178624000000001,
 9.190750999999999,
 9.2,
 9.258333333333333,
 9.4,
 9.475,
 9.5125,
 9.598333333333334,
 9.64,
 9.7128926,
 9.775,
 9.95,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.035127750000001,
 10.1,
 10.285524,
 10.374999999999998,
 10.443323,
 10.499927,
 10.5,
 10.5,
 10.549151,
 10.562782142857143,
 10.598871,
 10.613324513999999,
 10.65,
 10.663730000000001,
 10.700558666666666,
 10.75,
 10.842310000000001,
 10.961776833333332,
 10.964642999999999,
 11.0,
 11.0,
 11.0,
 11.033266666666666,
 11.086722649999999,
 11.116400563380278,
 11.134,
 11.225564833333332,
 11.309087105769237,
 11.341043999999998,
 11.401492999999999,
 11.420903375,
 11.430333333333332,
 11.473431374999997,
 11.55,
 11.6,
 11.635399666666666,
 11.65,
 11.661539444444445,
 11.7,
 11.700000000000001,
 11.818807569620251,
 11.819107,
 11.8281472,
 11.9,
 11.9,
 11.952501,
 11.979999999999999,
 12.0,
 12.0,
 12.0,
 12.040522099999999,
 12.069298056818184,
 12.128181155555557,
 12.13246775,
 12.158358333333334,
 12.3,
 12.355528,
 12.436303,
 12.5,
 12.5,
 12.5,
 12.538319,
 12.6,
 12.658,
 12.7277408,
 12.75,
 12.785029,
 12.8125,
 12.999977000000001,
 13.0,
 13.0,
 13.0,
 13.008304,
 13.0601,
 13.084674166666666,
 13.106775333333333,
 13.16,
 13.172878266666665,
 13.18125,
 13.220948499999999,
 13.406301000000001,
 13.620414000000002,
 13.675752875,
 13.738833399999999,
 13.80844892105263,
 13.845453600000003,
 14.0,
 14.0,
 14.0,
 14.071294555555557,
 14.096800133333334,
 14.106426,
 14.146279,
 14.175,
 14.3,
 14.35,
 14.650681,
 14.7,
 14.716561166666667,
 14.8261022,
 15.0,
 15.0,
 15.0,
 15.0,
 15.053508285714287,
 15.116936500000001,
 15.122499999999999,
 15.125297,
 15.1375,
 15.143629277777778,
 15.156686375000001,
 15.193000000000001,
 15.20865,
 15.213099999999999,
 15.267033333333332,
 15.31486875,
 15.46189972222222,
 15.729223317073172,
 15.806936599999997,
 15.834575777777777,
 15.876409179054058,
 15.886195684210525,
 16.021666666666665,
 16.205,
 16.21001,
 16.26007418181818,
 16.399977999999997,
 16.54042269473685,
 16.600216,
 16.630833333333335,
 16.669352,
 16.7,
 16.928658,
 16.933333333333334,
 17.0,
 17.0,
 17.0,
 17.0,
 17.075119285714287,
 17.0855,
 17.16,
 17.30434675,
 17.412362590909087,
 17.482449666666668,
 17.5,
 17.6675,
 17.7,
 17.7322384,
 17.920159375,
 18.0,
 18.3,
 18.3000435,
 18.33826905660377,
 18.444073,
 18.5,
 18.5,
 18.604149913043475,
 18.653664444444445,
 18.655797814814818,
 18.868805555555557,
 19.0,
 19.15,
 19.2,
 19.2,
 19.33,
 19.433161846153844,
 19.4659375,
 19.552937500000002,
 19.673428111111107,
 19.786888666666666,
 19.869969,
 19.910515,
 19.949722400000002,
 20.0,
 20.0075,
 20.165534400000002,
 20.291619800000003,
 20.307112184094958,
 20.366666666666667,
 20.583333333333332,
 20.686529999999998,
 20.7470404,
 20.842145199999997,
 20.9387384,
 20.9948802,
 21.0,
 21.0,
 21.03172088888889,
 21.316666666666666,
 21.33,
 21.381776336538458,
 21.47490816363636,
 21.5,
 21.595,
 21.595994,
 21.799999666666668,
 21.833,
 22.0,
 22.0,
 22.0230375,
 22.16,
 22.422972798611113,
 22.45,
 22.475,
 22.5,
 22.5,
 22.51,
 22.56812,
 22.57304135294118,
 22.596685903333334,
 22.6716392,
 22.7,
 23.0,
 23.0,
 23.01847569047619,
 23.0249995,
 23.0855,
 23.26639905,
 23.268306,
 23.317042999999998,
 23.346666666666664,
 23.379267000000002,
 23.46666666666667,
 23.63127211111111,
 23.636729833333334,
 23.677896599999997,
 23.784773333333334,
 24.0,
 24.0,
 24.06972201052632,
 24.243970363636368,
 24.306925,
 24.492617621301797,
 24.549999666666665,
 24.566886363636364,
 24.6,
 24.67125,
 24.744455,
 24.850373708333326,
 25.0,
 25.0,
 25.0,
 25.2,
 25.23223717647059,
 25.333290500000004,
 25.437916666666666,
 25.65,
 25.694136999999998,
 25.77217855357143,
 25.9443,
 26.0,
 26.1,
 26.153035407407405,
 26.173350499999998,
 26.341446571428566,
 26.4149945,
 26.671572727272725,
 26.747701805755405,
 26.75,
 26.760992166666664,
 26.801100081967206,
 26.944332250000002,
 27.28919715384615,
 27.434803333333335,
 27.5,
 27.5366311369863,
 27.538392504764705,
 27.620904,
 27.79518125,
 27.978772000000003,
 28.0,
 28.0,
 28.083333333333332,
 28.095916833333334,
 28.1550045,
 28.174869,
 28.244242,
 28.253593223880596,
 28.383333333333336,
 28.5,
 28.61940835849056,
 28.6542844,
 29.0,
 29.36,
 29.5,
 29.66325235714286,
 29.812218461538468,
 29.8528888,
 30.0,
 30.0,
 30.0,
 30.258613803278696,
 30.5,
 30.708388969696966,
 30.754692,
 30.757980272727274,
 31.0,
 31.02192309375,
 31.043984789644007,
 31.05,
 31.091873909090907,
 31.1172154,
 31.36349959949276,
 31.499664,
 31.7,
 31.776121828571434,
 31.84396221428571,
 31.853826499999997,
 32.0,
 32.13,
 32.3,
 32.325075,
 32.653333333333336,
 32.7,
 32.7075,
 33.104977340909095,
 33.15,
 33.200492,
 33.2725415,
 33.323892,
 33.4583875,
 33.65431416666667,
 33.755441000000005,
 33.83771447058823,
 33.93499766666667,
 34.25,
 34.25250352,
 34.27702342105263,
 34.299994,
 34.363932284152995,
 34.43651022727273,
 34.450002000000005,
 34.48469971428571,
 34.4999995,
 34.76,
 34.9,
 35.0,
 35.0,
 35.0,
 35.11021310114988,
 35.3430347,
 35.386755375,
 35.404546714285715,
 35.63034125,
 35.63905066666667,
 35.97488644,
 36.135603,
 36.32727354667981,
 36.38784977777778,
 36.443547307017546,
 36.587734,
 36.653253647058825,
 36.88132436153848,
 36.92,
 37.037855,
 37.0554445,
 37.292444447710395,
 37.410768857142855,
 37.5026450625,
 37.70402264,
 37.93804654545455,
 37.987138,
 38.12661262500001,
 38.15,
 38.23897795,
 38.54564380000001,
 38.8862255,
 38.9,
 38.91387016666666,
 38.91983333333334,
 39.09647936363636,
 39.2,
 39.2,
 39.5180005,
 40.0,
 40.0,
 40.0,
 40.0,
 40.1599185,
 40.1852375,
 40.50985325,
 40.683342,
 40.68517523076923,
 40.73924316129032,
 40.95794242857143,
 41.0,
 41.091372382978726,
 41.09331350000001,
 41.690245043478264,
 41.751250000000006,
 42.169214,
 42.188359837837844,
 42.225,
 42.30081366666667,
 42.53937468750001,
 42.858113499999995,
 43.0,
 43.218757,
 43.21891171428571,
 43.933625166666666,
 44.06755016666667,
 44.38585358273746,
 44.498885333333334,
 44.707328000000004,
 45.038955800000004,
 45.17784453521128,
 45.439579124999995,
 45.53333333333333,
 45.543519034285744,
 45.6758275,
 45.8704376,
 46.0,
 46.068458750000005,
 46.077411,
 46.247063507614236,
 47.03142857142858,
 47.06887769230769,
 47.47836657142858,
 47.494754,
 47.54333333333333,
 47.564102,
 47.628901,
 47.666666666666664,
 47.75915553618421,
 48.0625,
 48.38358055061767,
 49.545101,
 49.688114285714285,
 49.71952999999999,
 49.75658666666667,
 50.0,
 50.06408568335821,
 50.25,
 50.39,
 50.47664675757575,
 50.5,
 51.307606959999994,
 51.5,
 51.732438,
 51.9,
 52.0,
 52.75,
 53.00411333333333,
 53.849534999999996,
 53.94839999999999,
 54.0,
 54.0,
 54.85764033333333,
 55.0,
 55.008703000000004,
 55.509987,
 55.68907033333334,
 56.30800000000001,
 56.494609,
 56.601812333333335,
 56.777627,
 57.0,
 57.4963296,
 57.744141423076925,
 58.698472499999994,
 58.75,
 58.75,
 59.300008999999996,
 59.917559,
 59.929933,
 60.0,
 60.0,
 60.0,
 60.937846631578935,
 61.0,
 61.355,
 61.508986,
 61.51649133333334,
 61.74341700000001,
 62.5290735,
 62.790618999999985,
 63.700481845070435,
 63.96076192307693,
 64.89098150000001,
 65.64373499999999,
 66.0,
 66.54028760869565,
 67.785322875,
 68.59913114285715,
 69.0,
 69.492827,
 69.82300000000001,
 70.7,
 70.854129,
 71.235,
 71.3116155,
 71.350002,
 71.74431785714286,
 71.87429,
 72.64312525,
 ...]

In [42]:
list(df[df["name"] == "ZVerse, Inc."]["Investors"].str.split("|"))

[['Capital A Partners:3500000', 'Mosley Ventures:3500000']]

In [67]:
#to each row I want to apply string splitting thing to investors, then I want to break them into new columns and rows
def split_investors(investor_str):
    investor_dictionary = {}
    investor_list = list(investor_str.split("|"))
    #print(investor_list)
    for investor_ugly_str in investor_list:
        #print(investor_ugly_str)
        investor = investor_ugly_str.split(":")[0]
        #print(investor)
        #note: bug here, need to figure out which row, with prints method seems fine for most
        if len(investor_ugly_str.split(":")) == 1:
            funding_contribution = 0
        else:
            funding_contribution = investor_ugly_str.split(":")[1]
        #print(funding_contribution)
        investor_dictionary[investor] = funding_contribution
    return investor_dictionary

investor_series = df["Investors"].apply(split_investors)
#maybe I could make a new dataframe with investor name, contribution as columns
investor_df = pd.DataFrame()

Empty DataFrame
Columns: []
Index: []