# Descriptive Statistics

- We'll be focusing primarily on descriptive statistics in order to describe patterns, trends, distributions, and behaviors across our data.

# Measures of Central Tendency

## Mean, Median and Mode

The "Mean" is computed by adding all of the numbers in the data
together and dividing by the number elements contained in the data set.

Example :

Data Set = 2, 5, 9, 3, 5, 4, 7

Number of Elements in Data Set = 7

Mean = ( 2 + 5 + 9 + 7 + 5 + 4 + 3 ) / 7 = 5

Mathematical Notation for mean:

<img src="mean_formula.png" width="100" height="100">

n: is number of element

x_i: is the ith element of Dataset

### Median :
    
The "Median" of a data set is dependant on whether the number of
elements in the data set is odd or even. First reorder the data set
from the smallest to the largest then if the number of elements
are odd, then the Median is the element in the middle of the data set.
If the number of elements are even, then the Median is the average
of the two middle terms.

#### Examples : Odd Number of Elements
    
Data Set = 2, 5, 9, 3, 5, 4, 7

Reordered = 2, 3, 4, 5, 5, 7, 9

<img src="median_1.png" width="100" height="100">

Median = 5

#### Examples : Even Number of Elements

Data Set = 2, 5, 9, 3, 5, 4

Reordered = 2, 3, 4, 5, 5, 9

<img src="median_2.png" width="100" height="100">

Median = ( 4 + 5 ) / 2 = 4.5

Mathematical Notation for mean:

<img src="median_formula.png" width="300" height="300">

### Mode :

The "Mode" for a data set is the element that occurs the most often.
It is not uncommon for a data set to have more than one mode.
This happens when two or more elements accur with equal frequency
in the data set.

Example: 

Data Set = 2, 5, 9, 3, 5, 4, 7

Mode = 5

### Activity: _Write a function to compute the mean from an arbitrary dataset._

In [ ]:
data = np.array([1, 3, 5, 2, 3, 7, 8, 4, 10, 0, 6, 7, 3, 0, 3, 0, 5, 7, 10, 1, 4, 9, 3])

# TODO: Complete this function by having the function return the average value of our dataset.
def compute_mean(dataset):
    """ Main function that calculates the average value across our data. """
    return

compute_mean(data)

### Activity: _Write a function to compute the median from an arbitrary dataset._

In [ ]:
data = np.array([1, 3, 5, 2, 3, 7, 8, 4, 10, 0, 6, 7, 3, 0, 3, 0, 5, 7, 10, 1, 4, 9, 3])

# TODO: Complete this function by having the function return the exact true median value of our dataset.
# HINT: Consider using DataFrame slicing to help with identifying the correct median value(s).
def compute_median(dataset):
    """ Main function that determines the median value across our data. """
    count = len(dataset)
    
    if count < 1:
        # TODO: Complete this if-statement
        return
    if count % 2 == 1:
        # TODO: Complete this if-statement
        return
    else:
        # TODO: Complete this if-else statement
        return
    
compute_median(data)

### Activity: _Write a function to compute the mode from an arbitrary dataset._

In [ ]:
# NOTE: Tricker than it looks!
data = np.array([1, 3, 5, 2, 3, 7, 8, 4, 10, 0, 6, 7, 3, 0, 3, 0, 5, 7, 10, 1, 4, 9, 3])

# TODO: Complete this function by having the function return the relative mode across our dataset.
# HINT: Remember histograms and tokenization from CS 1.2? How many they help you here? 
def compute_mode(dataset):
    """ Main function that determines the mode value across our data. """
    return

compute_mode(data)

## Measures of Spread

- Range

- Variance

### Range :

The "Range" for a data set is the difference between the largest value and
smallest value contained in the data set. First reorder the data set from
smallest to largest then subtract the first element from the last element.

Example:

Data Set = 2, 5, 9, 3, 5, 4, 7

Reordered = 2, 3, 4, 5, 5, 7, 9

Range = ( 9 - 2 ) = 7

### Variance :

Variance measures how spread out the data is.

Standard deviation is the root of variance

Example:

<img src="standard_deviation.png" width="500" height="500">

## What does variance (or standard deviation) mean? 

- We measured number of rainy days at fall in three different cities in last 5 years:

In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.DataFrame({'Rainy':[29,28,32,35,36,12,18,30,45,55, 32,32,32,32,32], 'City':['City_A']*5 + ['City_B']*5 + ['City_C']*5})
df

    Rainy    City
0      29  City_A
1      28  City_A
2      32  City_A
3      35  City_A
4      36  City_A
5      12  City_B
6      18  City_B
7      30  City_B
8      45  City_B
9      55  City_B
10     32  City_C
11     32  City_C
12     32  City_C
13     32  City_C
14     32  City_C

## Activity:  Obtain the variance of City_A, City_B and City_C